/tmp
/out-tsc

/node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/.pnp
.pnp.js

.vscode/*
/releases/
/dist/
/.idea/.gitignore
/.idea/aws.xml
/.idea/awsToolkit.xml
/.idea/modules.xml
/.idea/vcs.xml
/.idea/workspace.xml
/.idea/x-clash-calculator.iml
/.idea/
/opencode.json
/AGENTS.md
